<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.kathyyliang.tulyp">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name=".TulypApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn" />
        <activity android:name=".JoinNow" />
        <activity android:name=".CompleteProfile" />
        <activity android:name=".DoctorQuestion" />
        <activity android:name=".PatientView" />
        <activity android:name=".DoctorView" />
        <activity android:name=".PatientSettings" />
        <activity android:name=".DoctorSettings" />
        <activity android:name=".AddPatient" />
        <activity android:name=".MedicalProfile" />
        <activity android:name=".AccountInfo" />
        <activity android:name=".Medication" />
        <activity android:name=".TestActivity" />

        <service android:name=".PhoneToWatchService" />
        <service
            android:name=".PhoneListenerService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity android:name=".DoctorPatientView" />
        <activity android:name=".DoctorMedication"></activity>
    </application>

</manifest>